footer {
    background-color: rgb(5, 5, 5);
    color: #fff;
    text-align: center;
}

@media screen and (min-width: 769px)
{

    
}



@media screen and (min-width: 551px) and (max-width: 768px)
{

}



@media screen and (max-width: 550px)
{

}