.header{
    display: flex;
    background-color: bisque;
    justify-content: space-between;
    text-align: center;
}

.img-header .links-header {
    width: 40%;
}

.img-header img{
    width: 20%;
}

.links-header{
    width: 50%;
}

.links-header ul{
    display: flex;
    justify-content: space-around;

}

.links-header ul li, a{
    display: flex;
    text-decoration: none; 
    color: black;   
}

@media screen and (min-width: 769px)
{

    
}




@media screen and (min-width: 551px) and (max-width: 768px)
{

}

@media screen and (max-width: 550px)
{
    .header{
        flex-direction: column;
    }
    
    .img-header img {
        width: 15%;
    }

    .img-header {
        border-bottom: 1px solid #333;
    }
    
    .links-header{
        width: 100%;
    }    
}